$color-primary: #55c57a; 
$color-primary-light:  #7ed56f;
$color-primary-dark:#28b485;
$color-gray-dark: #777;
$color-white: #fff; 
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),  
            url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    /* checkout https://bennettfeely.com/clippy/ */
    position: relative;
}

.header__logo-box{
    position: absolute; 
    top: 4rem;
    left: 4rem;
}



.header__logo{
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -100%);
    padding-bottom: 2rem;
    text-align: center;
}


.heading-primary{
    color: $color-white; 
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden; /* prevents the shakiness in the animations */
    margin-bottom: 60px;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;    
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;  /* animation specification way 1*/
    animation-duration: 1s;
    animation-timing-function: ease-out;
/*  animation-delay: 1s;
    animation-iteration-count: 3;
    */
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;    
    font-weight: 700;
    letter-spacing: 1.75rem;    


    animation: moveInRight 1s ease-out; /* animation specification way 2*/
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{        
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{        
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    /*80%{        
        transform: translateX(-10px);
    }*/
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link, .btn:visited{  /*This is the initial state of the btn. All the transition properties are specified on the initial state*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    text-align: center;
    border-radius: 10rem;
    transition: all 0.2s ease-in;
    position: relative;
}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.btn:active{
    transform: translateY(-0.1rem)
}

.btn--white{
    background-color: $color-white;
    color: $color-gray-dark;
}

.btn::after{ /*This is the initial state of the btn::after. All the transition properties are specified on the initial state*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all 0.4s ease-out;
}

.btn--white::after{
    background-color: $color-white;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}