.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.3s ease-out;
        outline-offset: 2rem;
        &--p1{
            top: -2rem;
            left: 0
        }
        &--p2{
            top: 4rem;
            right: 2rem;
        }
        &--p3{
            top: 12rem;
            left: 10%;
        }
        &:hover{
            z-index: 20;
            transform: scale(1.1) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
            outline: 1rem solid $color-primary;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.8);
    }  
}