*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // This defines how much 1 rem is.
}

body{
    box-sizing: border-box; // See other body declarations in typography
}
